body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	padding: 0 40px;
}
#showPart>div:nth-child(1) {
    border-bottom: 2px black solid;
}
#showPart>div>div:nth-child(1) {
    width: 80%;
    display: inline-block;
}
#showPart>div>div:nth-child(2) {
    width: 10%;
    display: inline-block;
    text-align: right;
}
@media (max-width: 575.98px) {
	body {
		padding: 0;
	}
	html {
		font-size: 12px;
	}
	h4 {
		margin-top: 0;
	}
}
.row {
	display: flex;
}
.col {
	flex: 1 1 0%;
	height: 400px;
    width: 380px;
}

.ec {
	height: 640px;
}
.ec.ec-day-grid {
	height: 400px;
    width: 328px;
}
.ec-toolbar button {
    font-size: 8px;
    width: 40px;
}
#divCalendar>article {
    width: 330px;
}
#divCalendar {
    display: flex;
    flex-direction: column;
}
.ec-week-view {
    height: 1000px;
}
@media (min-width: 480px) {
    #divCalendar>article {
        width: 443px;
    }
    .col {
        flex: 1 1 0%;
        height: 506px;
    }
    .ec {
        height: 700px;
        width: 443px;
    }
    .ec.ec-day-grid {
        height: 487px;
        width: 442px;
    }
    #divCalendar {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 576px) {
    .col {
        flex: 1 1 0%;
        height: 506px;
    }
    .ec {
        height: 700px;
    }
    .ec.ec-day-grid {
        height: 487px;
        width: 442px;
    }
    #divCalendar {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 800px) {
    #divCalendar>article {
        width: 445px;
    }
    .ec {
        height: 800px;
    }
    .ec.ec-day-grid {
        height: 700px;
        width: 735px
    }
    #divCal {
                height: 700px;
    }
}
@media (min-width: 992px) {
    .ec {
        height: 800px;
    }
    .ec.ec-day-grid {
        height: 700px;
    }
    #divCal {
                height: 700px;
    }
}
@media screen and (min-width: 1024px) {
    section>article:first-child, section > article:nth-child(2) {
        margin-top: 1em;
        width: 736px;

    }
    #divCalendar {
        margin-left: 6em;
    }
}
@media (min-width: 1200px) {
	.ec.ec-day-grid {
		height: 800px;
	}
    #divCal {
        height: 800px;
    }
}
@media (min-width: 1920px) {
	.ec.ec-day-grid {
		height: 800px;
		width: 1000px;
	}
}
