/* partic dialog */
#dPartic {
    background-color: #333;
    color: #E086D3;
    border-radius: 9px;
    padding: 5px;
    width: 200px;
}
#dPartic::before {
  content: " ";
  width: 0;
  height: 0;
  
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #333 transparent transparent transparent;

  position: absolute;
  left: 5px;
  top: -5px;
  transform: rotate(180deg);
}
#dPartic_box {
    box-shadow: unset;
    background-color: transparent;    
    border: none !important;
}
.dParticBox {
}
.dParticHL, .dParticMenu {
    display: none !important;
}
#dPartic_headline, #dPartic_menu, #dPartic_footer {
    display: none !important;
}
/* end partic dialog */
/* styles event dialog */
    #editEvent label {
        display: block;
    }
/* end styles event dialog */
/* styles edit dialog */
.cEdit #usePattern {
    display:  none;
}
/* end styles edit dialog */
/* event formats */
.fc-participate {
    border: 1px black solid;
    box-shadow: 5px 5px 10px 1px #737373;
    margin-bottom: 5px;
}
.eventHasAppendix {
    background-image: url("icons/bueroklammer.png");
    background-repeat: no-repeat;
    background-size: 12px 20px;
    background-position-x: right;
}
/* end event formats */
/* start accordion */
.accordion>div>input{
  display: none;
}
.accordion .panel {
  margin: 0 auto;
  height: 0;
  overflow:hidden;
  background-color: white;
  line-height: 1.4;
  padding: 0 20px;
  box-sizing: border-box;
  transition: all 0.5s;
}

.accordion input:checked~.panel {
  height: auto;
  color: #333;
  padding: 10px;
  transition: all 0.5s;
  min-height: 325px;
  max-height: 325px;
  overflow-y: auto;
}
.panelHL {
    border-radius: 5px;
    padding-left: 0.3em;
    border-color: aliceblue;
    border: 3px solid #0c97e2;
}
.panelHL > label {
    z-index: 1;
    position: relative;
    cursor: pointer;
    color: #0c97e2;
    font-size: 14px;
    font-weight: 600;
    top: -1px;
}
/* end accordion */
/* start calendar */
#divCalendar {
    display: flex;
}
/* end calendar */
/* start legende */
#legende {
    margin: auto;
}
#legende > div > div {
    display: flex;
}
#legende > div > div > div:first-child {
    width: 250px;
}
#legende > div > div > div:nth-child( 2 ) {
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
}
/* start legende */

#dDia { background-color:lightblue }

.cEdit #Id, .cEdit #innerId, .cEdit #allDay, .cEdit #groupId {
    display: none;
}
.cEdit select[disabled] {
    color: black;
} 
.cNotEditable .accordion>div:nth-child(4), .cNotEditable .accordion>div:nth-child(2), .cNotEditable #divPart, .cNotEditable #loadAppendix, .cNotEditable #deleteAppendix, .cNotEditable #sendAppendix, .cNotEditable #labSend, .cNotEditable #invalidUrl, #editEvent #invalidUrl {
    display: none;
}
.cNotEditable>div>div:nth-child(5)>div:nth-child(3)>label:nth-child(5),.cNotEditable>div>div:nth-child(5)>div:nth-child(3)>label:nth-child(8),.cNotEditable>div>div:nth-child(5)>div:nth-child(3)>input:nth-child(9),.cNotEditable>div>div:nth-child(5)>div:nth-child(3)>label:nth-child(15),.cNotEditable>div>div:nth-child(5)>div:nth-child(3)>input:nth-child(16),.cNotEditable>div>div:nth-child(5)>div:nth-child(3)>input:nth-child(6) {
    display: none !important;
}
.cEditable {
    
}
.cEdit>div>div:nth-child(5)>div:nth-child(3)>textarea:nth-child(2) {
    width: 275px;
    height: 150px;
    resize: none;
}
.cEdit #dateTextDiv, .cEdit #deadlineTextDiv, .cEdit div.panel:nth-child(3)>label:nth-child(9), .cEdit div.panel:nth-child(3)>select:nth-child(10), .cEdit #Direktlink, .cEdit #repeatLabel, .cEdit #repeatToLabel, .cEdit #repeatTo, .cEdit #deleteRepeatTo, .cEdit #Url, .cEdit #directLinkLabel, .cEdit #appendixNames {
    display: none !important;
}
.cEdit #informUser {
    height: 203px;
}
.cEdit>div>div:nth-child(5)>div:nth-child(3)>input:nth-child(4), .cEdit input[type=text], .cEdit select:not(#startHour):not(#valStartMinutes):not(#endHour):not(#valEndMinutes) {
    width: 275px;
}
.cNotEditable .accordion input:checked~.panel { 
    min-height: 370px;
    max-height: 370px;
}
#evRequest>label {
    display: block;
}
#evRequest>textarea {
    width: 305px;
    height: 260px;
    resize: none;
}
input[id^=appendix_name_] {
    margin-left: 2em;
    width: 230px;
}
@media screen and (min-width: 300px) {
    
}
@media screen and (min-width: 320px) {
}
@media screen and (min-width: 480px) {
}

