body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	padding: 0 40px;
}
#showPart>div:nth-child(1) {
    border-bottom: 2px black solid;
}
#showPart>div>div:nth-child(1) {
    width: 80%;
    display: inline-block;
}
#showPart>div>div:nth-child(2) {
    width: 10%;
    display: inline-block;
    text-align: right;
}
#navBlender {
    display: none;
}
@media (max-width: 575.98px) {
	body {
		padding: 0;
	}
	html {
		font-size: 12px;
	}
	h4 {
		margin-top: 0;
	}
}
.row {
	display: flex;
}
.col {
	flex: 1 1 0%;
	height: 400px;
    width: 380px;
}
#divCalendar>article:has( div.ec-month-view), #divCalendar>article:has( div.ec-week-view), #divCalendar>article:has( div.ec-day-view) {
    width: 330px
}
#divCalendar>article:has( div.ec-week-view), #divCalendar>article:has( div.ec-day-view) {
    height: 1320px
}
.ec-line:not(:first-child):after, .ec-body:not(.ec-compact) .ec-line:nth-child(even):after {
    width: 275px;
}
.ec-header>.ec-days:nth-child(2)>.ec-lines:first-child {
    width: 58px;
}

.ec {
	height: 640px;
}
.ec.ec-day-grid {
	height: 400px;
    width: 328px;
}
.ec-toolbar button {
    font-size: 8px;
    width: 40px;
}

/*
#divCalendar>article {
    width: 340px;
}
*/
#divCalendar {
    display: flex;
    flex-direction: column;
}
.ec-week-view {
    height: 1000px;
}
@media (min-width: 480px) {
    #divCalendar>article:has( div.ec-month-view), #divCalendar>article:has( div.ec-week-view), #divCalendar>article:has( div.ec-day-view) {
        width: 445px
    }
    .ec-line:not(:first-child):after, .ec-body:not(.ec-compact) .ec-line:nth-child(even):after {
        width: 390px;
    }
    .col {
        flex: 1 1 0%;
        height: 506px;
    }
    .ec {
        height: 700px;
        width: 443px;
    }
    .ec.ec-day-grid {
        height: 487px;
        width: 442px;
    }
    .ec-day {
        font-size: 10px;
    }
    #divCalendar {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 576px) {
    #divCalendar>article:has( div.ec-month-view), #divCalendar>article:has( div.ec-week-view), #divCalendar>article:has( div.ec-day-view) {
        width: 528px;
    }
    .ec-line:not(:first-child):after, .ec-body:not(.ec-compact) .ec-line:nth-child(even):after {
        width: 450px;
    }
    .col {
        flex: 1 1 0%;
        height: 506px;
    }
    .ec {
        height: 700px;
        width: 515px;
    }
    .ec.ec-day-grid {
        height: 487px;
        width: 526px;    
    }
    .ec-header>.ec-days:nth-child(2)>.ec-lines:first-child {
        width: 72px;
    }
    #divCalendar {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 800px) {
    #divCalendar>article:has( div.ec-month-view), #divCalendar>article:has( div.ec-week-view), #divCalendar>article:has( div.ec-day-view) {
        width: 740px;
    }
    #divCalendar>article:has( div.ec-month-view) {
        height: 703px;
    }
    .ec, .ec.ec-day-grid {
        height: 700px;
        width: 734px
    }
    .ec-line:not(:first-child):after, .ec-body:not(.ec-compact) .ec-line:nth-child(even):after {
        width: 668px;
    }
}
@media screen and (min-width: 1024px) {
    #divCalendar>article:has( div.ec-month-view), #divCalendar>article:has( div.ec-week-view), #divCalendar>article:has( div.ec-day-view) {
        width: 974px
    }
    #divCalendar>article:has( div.ec-month-view) {
        height: 705px;
    }
    .ec, .ec.ec-day-grid {
        height: 700px;
        width: 970px
    }
    .ec-line:not(:first-child):after, .ec-body:not(.ec-compact) .ec-line:nth-child(even):after {
        width: 903px;
    }
}
@media (min-width: 1280px) {
    #divCalendar>article:has( div.ec-month-view), #divCalendar>article:has( div.ec-week-view), #divCalendar>article:has( div.ec-day-view) {
        width: 1210px
    }
    .ec, .ec.ec-day-grid {
        height: 700px;
        width: 1205px;
    }
    .ec-line:not(:first-child):after, .ec-body:not(.ec-compact) .ec-line:nth-child(even):after {
        width: 1138px;
    }
}
@media (min-width: 1920px) {
	.ec, .ec.ec-day-grid {
		height: 800px;
		width: 913px;
	}
    #divCalendar {
        flex-direction: row;    
    }
    .ec-line:not(:first-child):after, .ec-body:not(.ec-compact) .ec-line:nth-child(even):after {
        width: 850px;
    }
}
}
